<nav > 
    <div class="wrapper">      
        <div class="wrapper">
            <div class="sidebar">
            <h2><img width="170"  src="https://www.ordra.co.za/image/catalog/info/ORDRAA1%20(2).png" (click)="onHome()"></h2>
        
           <ul style="width: 200px; height: 600px; overflow-y: scroll;">
                
                <li><i class="tiny material-icons">people_outline</i><a [routerLink]="'/employee-management'">Employee Management </a></li>
                <li><i class="tiny material-icons">store</i><a [routerLink]="'/container-management'">Container Management</a></li>
                <li><i class="tiny material-icons">person_pin</i><a [routerLink]="'/manager-management'">Manager Profile Management</a></li>
                <li><i class="tiny material-icons">add_location</i><a [routerLink]="'/gps-management'">GPS Management</a></li>
                <li><i class="tiny material-icons">shopping_basket</i><a [routerLink]="'/sales-management'">Sales </a></li>
                <li><i class="tiny material-icons">contacts</i><a [routerLink]="'/customer-management'">Customer Management </a></li>
                <li><i class="tiny material-icons">shopping_cart</i><a [routerLink]="'/customer-order-management'">Customer Order Management </a></li>
                <li><i class="tiny material-icons">settings_ethernet</i><a [routerLink]="'/supplier-management'">Supplier Management </a></li>
                <li><i class="tiny material-icons">local_shipping</i><a [routerLink]="'/supplier-order-management'">Supplier Order Management </a></li>
                <li><i class="tiny material-icons">layers</i><a [routerLink]="'/product-management'">Product Management </a></li>
                <li><i class="tiny material-icons">card_giftcard</i><a [routerLink]="'/donation-management'">Donation Management </a></li>
                <li><i class="tiny material-icons">attach_money</i><a [routerLink]="'/creditor-management'">Creditor Management </a></li>
                <li><i class="tiny material-icons">timeline</i><a [routerLink]="'/reporting-management'">Reporting </a></li>
            
           </ul> 
           </div>
        
           <div class="main_content">
             <div class="header-section">
                <div class="header-section-1">
                    Operating from Container: 
                    <br>Betha Mamelodi
                </div>
            
                <div class="header-section-2">
                    Date:  {{dateVal | date: 'dd/MM/yyyy'}}
                </div>
            
                <div class="header-section-3">
                    <button style='font-size:15px' (click)="onLogout()"> Log out
                    <i class="tiny material-icons" >power_settings_new</i>
              </button>
        </div>
        
             </div> 
            <div class="info">   
                <body>
                    <h1>Search Product</h1>
                
                   <form>
                        <div class="card"> 
                            <p class="subheadinglabel">Select Product Category To Search:</p>
                
                            <div class="divleft">
                                <label for="Category">Product Category:</label>
                                  <select  required name="catSelection" [(ngModel)]="catSelection" (ngModelChange)="loadProducts($event)">
                                    <option value="0">--Select--</option>  
                                    <option  *ngFor="let category of categoryList"  [ngValue]="category">{{category.PCatName}}</option>
                                  </select>
                            </div>
                        
                         <div class="divleft">
                                <button  (click)="Search()">Search</button>
                                <button (click)="Cancel()">Cancel</button>
                            </div>
                        </div>
                
                    <br><br>
                 
                        <div class="card">
                            <div class="divleft">
                                <label class="subheadinglabel">Searched Product Category Results:</label>
                                <br>
                                <table>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th></th>
                                    </tr>
                
                
                                    <tr *ngFor="let prod of products">
                                        <td>{{prod.ProdName}}</td>
                                        <td>{{prod.ProdDesciption}}</td>
                                        <td><button (click)="View(prod.ProdName)">View</button></td>
                                    </tr>
                                </table>  
                           </div>
                         </div>

			<div class="card" *ngIf="showResults" class="divleft">
				<label>Name:</label>
				<input type="text" name="name" [(ngModel)] = "ProdName" required [readonly] = "this.inputEnabled">
                               	<br>
                               
                                <label for="description">Description:</label>
				<input  name="description" type="text"[(ngModel)] = "ProdDescription" required [readonly] = "this.inputEnabled">
                                <br>
	
                                <label for="level">Reorder level:</label>
				<input type="text" name="level" [(ngModel)] = "ProdReLevel" required [readonly] = "this.inputEnabled">
                <br>
                                <label for="costP">Cost Price(R):</label>
				<input type="number" name="costP" [(ngModel)] = "CPriceR" required [readonly] = "this.inputEnabled">
                <br>
                               
                                <label for = "unitP">Unit Price(R):</label>
				<input type="number" name="unitP" [(ngModel)] = "UPriceR" required [readonly] = "this.inputEnabled">
                <br>
                                
                                
                                <label for ="start">Price Start Date:</label>
				<input type="text" name="start" [(ngModel)] = "PriceStartDate" required [readonly] = "this.inputEnabled">
                              
                <br>
                                <label for="end">Price End Date:</label>
				<input type="text" name="end" [(ngModel)] = "PriceEndDate" required [readonly] = "this.inputEnabled">
                               <div class="divleft">
				<button  (click)="update()">Update</button>
				<button  (click)="save()">Save</button>
				<button  (click)="delete()">Delete</button>
				</div>
                                
                            </div>
                        
				
			
                     </form>  
                </body>
                
                    
            </div>
           </div>
        </div>
   </div>
</nav>