<div class="wrapper">      
    <div class="wrapper">
        <div class="sidebar">
        <h2><img width="170"  src="https://www.ordra.co.za/image/catalog/info/ORDRAA1%20(2).png" (click)="onHome()"></h2>
    
       <ul style="width: 200px; height: 600px; overflow-y: scroll;">
            
            <li><i class="tiny material-icons">people_outline</i><a [routerLink]="'/employee-management'">Employee Management </a></li>
            <li><i class="tiny material-icons">store</i><a [routerLink]="'/container-management'">Container Management</a></li>
            <li><i class="tiny material-icons">person_pin</i><a [routerLink]="'/manager-management'">Manager Profile Management</a></li>
            <li><i class="tiny material-icons">add_location</i><a [routerLink]="'/gps-management'">GPS Management</a></li>
            <li><i class="tiny material-icons">shopping_basket</i><a [routerLink]="'/sales-management'">Sales </a></li>
            <li><i class="tiny material-icons">contacts</i><a [routerLink]="'/customer-management'">Customer Management </a></li>
            <li><i class="tiny material-icons">shopping_cart</i><a [routerLink]="'/customer-order-management'">Customer Order Management </a></li>
            <li><i class="tiny material-icons">settings_ethernet</i><a [routerLink]="'/supplier-management'">Supplier Management </a></li>
            <li><i class="tiny material-icons">local_shipping</i><a [routerLink]="'/supplier-order-management'">Supplier Order Management </a></li>
            <li><i class="tiny material-icons">layers</i><a [routerLink]="'/product-management'">Product Management </a></li>
            <li><i class="tiny material-icons">card_giftcard</i><a [routerLink]="'/donation-management'">Donation Management </a></li>
            <li><i class="tiny material-icons">attach_money</i><a [routerLink]="'/creditor-management'">Creditor Management </a></li>
            <li><i class="tiny material-icons">timeline</i><a [routerLink]="'/reporting-management'">Reporting </a></li>
        
       </ul> 
       </div>
    
       <div class="main_content">
         <div class="header-section">
            <div class="header-section-1">
                Operating from Container: 
                <br>Betha Mamelodi
            </div>
        
            <div class="header-section-2">
                Date:  {{dateVal | date: 'dd/MM/yyyy'}}
            </div>
        
            <div class="header-section-3">
                <button style='font-size:15px' (click)="onLogout()"> Log out
                <i class="tiny material-icons" >power_settings_new</i>
          </button>
    </div>
    
         </div> 
        <div class="info">   
               
        
</div>

    <h1>Search Manager Profile</h1>
    <br>
    <form>
    <div *ngIf = "showSearch" class="card" >
            
        <div  class="divleft" >
            <br>
            <label class="subheadinglabel" >Enter Manager Name and Surname To search:</label>
        <br>
        <label for="name">Name:</label>
        <input class="searchinput"  [(ngModel)]="name" type="text" id="name" name="name">
   
        <label for="cusSurname">Surname:</label>
        <input class="searchinput"  [(ngModel)]="surname" type="text" id="surname" name="surname">
        
            <div class="divleft">
                <button type="submit" (click) ="searchManager()">Search</button>
                <button type="submit" (click)="gotoManagerManagement()">Cancel</button>
            </div>
    </div>
    </div>

     

        
    <br><br>
        <div *ngIf = "showResults" class="card">
            <div class="divleft">
     
        <div class="divleft">
            <br>
            <label class="subheadinglabel">Manager General Details:</label>
            <br>   
            <div class="divleft" >
                <label for="UserName">Name:       </label>
                <input class="searchinput" [(ngModel)]="user.UserName"  type="text" id="UserName" name="UserName" required [readonly] = "this.inputEnabled">
            
                <label for="UserSurname">Surname:   </label>
                <input class="searchinput" [(ngModel)]="user.UserSurname" type="text" id="UserSurname" name="UserSurname" required [readonly] = "this.inputEnabled">
            </div>
    
            <br><br>
            <div class="divleft" >
                <label for="UserCell">Cell Number:  </label>
                <input class="searchinput" [(ngModel)]="user.UserCell"  type="text" id="UserCell" name="UserCell" required [readonly] = "this.inputEnabled"d>
         
                <label for="UserEmail">Email:      </label>
                <input class="searchinput" [(ngModel)]="user.UserEmail"  type="text" id="UserEmail" name="UserEmail" required [readonly] = "this.inputEnabled">
            </div>
    
        <br>
        <div class="divleft" >
            <label for="EmployeeStartDate">Work Start Date: </label>
            <input class="searchinput" [(ngModel)]="employee.EmpStartDate"  type="text" id="EmpStartDate" name="EmpStartDate" required [readonly] = "this.inputEnabled">
           
            <label for="EmployeeShiftsCompleted">Shifts Completed:    </label>
            <input class="searchinput" [(ngModel)]="employee.EmpShiftsCompleted" type="text" id="EmpShiftsCompleted" name="EmpShiftsCompleted" required [readonly] = "this.inputEnabled">
        </div>


    <div  class ="divleft">
        <label class="subheadinglabel">Select Containers Managed:</label> 
    <br>
        <label for="containers">Container: </label>
        <select required name="selection" [(ngModel)]="selection" (ngModelChange)="addContainer($event)">
            <option value="0">--select--</option>
            <option *ngFor="let container of containers" [ngValue]="container">{{container.ConName}}</option>
        </select>
    </div>

    <div *ngIf ="showTable">
        <table  class="table" id="Table">
    
            
            <tr>
                <th>Containers Managed</th>
            </tr>

            <tr *ngFor="let item of  selectedContainers">
                <td>{{item.ConName}}</td>
            </tr>
        </table>
        </div>

    <br>
    <div class="divleft">
        <br>
    <label class="subheadinglabel" >Enter Manager Profile Details</label>
<br>
        <label for="ManQualification">Qualification:       </label>
        <input type="text" [(ngModel)]="manager.ManQualification" id="ManQualification" name="ManQualification" required [readonly] = "this.allowEdit">
    </div>

    <div class="divleft">
        <label for="ManNationality">Nationality:       </label>
        <input type="text" [(ngModel)]="manager.ManNationality" id="ManNationality" name="ManNationality" required  [readonly] = "this.allowEdit">
    </div>

    <div class="divleft">
        <label for="ManIDNumber">ID Number:       </label>
        <input type="text" [(ngModel)]="manager.ManIDNumber" id="ManIDNumber" name="ManIDNumber" required  [readonly] = "this.allowEdit">
    </div>
    <br>

   
    <div class="divleft">
        <label class="subheadinglabel">Enter Next Of Keen Details:</label>
        <br>
        <label for="ManNextOfKeenFName">Full Name:       </label>
        <input type="text" [(ngModel)]="manager.ManNextOfKeenFName" id="ManNextOfKeenFName" name="ManNextOfKeenFName" required  [readonly] = "this.allowEdit">
    </div>

    <div class="divleft">
        <label for="ManNextOfKeenCell">Cell Number:       </label>
        <input type="text" [(ngModel)]="manager.ManNextOfKeenCell" id="ManNextOfKeenCell" name="ManNextOfKeenCell" required  [readonly] = "this.allowEdit">
    </div>
    <br>
  
    <br><br>
    <div class="divleft" *ngIf="showButtons">
       <button type="submit" (click)="updateManager()">Update</button>
       <button type="submit" (click)="deleteManager()">Delete</button>
    </div>

    <div class="divleft" *ngIf="showSave" >
        <button type="submit" (click)="updateManager()">Save</button>
        <button type="submit" (click)="cancel()">Cancel</button>
       </div>
    
</div>



