<body>
    <h1>Add Customer</h1>
    <form>
        
        <br>
        <div class="card">
            <div class = "divleft">
            <br><br>
            <label class="subheadinglabel">Enter Customer Details:</label>
        <br><br>
        <div class="divleft" >
            <label for="cusName">Name:       </label>
            <input type="text" id="cusName" name="cusName" required>
        </div>

        <br>
        <div class="divleft" >
            <label for="cusSurname">Surname:   </label>
            <input type="text" id="cusSurname" name="cusSurname" required>
        </div>

        <br>
        <div class="divleft" >
            <label for="cusCell">Cell Number:  </label>
            <input type="text" id="cusCell" name="cusCell" required>
        </div>

        <br>
        <div class="divleft"  >
            <label for="cusEmail">Email:      </label>
            <input type="text" id="cusEmail" name="cusEmail">
        </div>

        <br>
        <div class="divleft" >
            <label for="cusStreetNr">Street No: </label>
            <input type="text" id="cusStreetNr" name="cusStreetNr"> 
        </div>

        <br>
        <div class="divleft" >
            <label for="cusStreet">Street:    </label>
            <input type="text" id="cusStreet" name="cusStreet"> 
        </div>
        
        <br>
        <div class="divleft" >
            <label for="cusCode">Postal Code:   </label>
            <input type="text" id="cusCode" name="cusCode" placeholder="0000"> 
        </div>
 
        <br>
        <div class="divleft" >
            <label for="cusSurburb">Suburb:   </label>
            <input type="text" id="cusSurburb" name="cusSurburb" placeholder="Example: Hatfield"> 
        </div>
        <br><br>
        <div class="divleft" >
            <button type="submit">Save</button> 
            <button type="submit">Cancel</button>
         </div>
         <br><br>
        </div>
    </div>
      
        

        
    </form>
</body>



